HotelReservationSystemJPA/HolidayReservationClient/src/META-INF/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="getReservationByReservationId">
<part name="parameters" element="tns:getReservationByReservationId"/>
</message>
<message name="getReservationByReservationIdResponse">
<part name="parameters" element="tns:getReservationByReservationIdResponse"/>
</message>
<message name="InvalidReservationIdException">
<part name="fault" element="tns:InvalidReservationIdException"/>
</message>
<message name="retrieveAllReservations">
<part name="parameters" element="tns:retrieveAllReservations"/>
</message>
<message name="retrieveAllReservationsResponse">
<part name="parameters" element="tns:retrieveAllReservationsResponse"/>
</message>
<message name="retrieveAllReservationsByPartner">
<part name="parameters" element="tns:retrieveAllReservationsByPartner"/>
</message>
<message name="retrieveAllReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveAllReservationsByPartnerResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
</operation>
<operation name="getReservationByReservationId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getReservationByReservationIdRequest" message="tns:getReservationByReservationId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getReservationByReservationIdResponse" message="tns:getReservationByReservationIdResponse"/>
<fault message="tns:InvalidReservationIdException" name="InvalidReservationIdException" wsam:Action="http://ws.session.ejb/ReservationWebService/getReservationByReservationId/Fault/InvalidReservationIdException"/>
</operation>
<operation name="retrieveAllReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsRequest" message="tns:retrieveAllReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsResponse" message="tns:retrieveAllReservationsResponse"/>
</operation>
<operation name="retrieveAllReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsByPartnerRequest" message="tns:retrieveAllReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsByPartnerResponse" message="tns:retrieveAllReservationsByPartnerResponse"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationIdException">
<soap:fault name="InvalidReservationIdException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>