HotelReservationSystemJPA/HolidayReservationClient/src/META-INF/wsdl/localhost_8080/RoomWebService/RoomWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="RoomWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/RoomWebService/RoomWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllAvailableRooms">
<part name="parameters" element="tns:retrieveAllAvailableRooms"/>
</message>
<message name="retrieveAllAvailableRoomsResponse">
<part name="parameters" element="tns:retrieveAllAvailableRoomsResponse"/>
</message>
<message name="allocateRooms">
<part name="parameters" element="tns:allocateRooms"/>
</message>
<message name="allocateRoomsResponse">
<part name="parameters" element="tns:allocateRoomsResponse"/>
</message>
<message name="InvalidRoomTypeTierNumberException">
<part name="fault" element="tns:InvalidRoomTypeTierNumberException"/>
</message>
<message name="updateRoom">
<part name="parameters" element="tns:updateRoom"/>
</message>
<message name="updateRoomResponse">
<part name="parameters" element="tns:updateRoomResponse"/>
</message>
<message name="UpdateRoomException">
<part name="fault" element="tns:UpdateRoomException"/>
</message>
<message name="retrieveAllRooms">
<part name="parameters" element="tns:retrieveAllRooms"/>
</message>
<message name="retrieveAllRoomsResponse">
<part name="parameters" element="tns:retrieveAllRoomsResponse"/>
</message>
<portType name="RoomWebService">
<operation name="retrieveAllAvailableRooms">
<input wsam:Action="http://ws.session.ejb/RoomWebService/retrieveAllAvailableRoomsRequest" message="tns:retrieveAllAvailableRooms"/>
<output wsam:Action="http://ws.session.ejb/RoomWebService/retrieveAllAvailableRoomsResponse" message="tns:retrieveAllAvailableRoomsResponse"/>
</operation>
<operation name="allocateRooms">
<input wsam:Action="http://ws.session.ejb/RoomWebService/allocateRoomsRequest" message="tns:allocateRooms"/>
<output wsam:Action="http://ws.session.ejb/RoomWebService/allocateRoomsResponse" message="tns:allocateRoomsResponse"/>
<fault message="tns:InvalidRoomTypeTierNumberException" name="InvalidRoomTypeTierNumberException" wsam:Action="http://ws.session.ejb/RoomWebService/allocateRooms/Fault/InvalidRoomTypeTierNumberException"/>
</operation>
<operation name="updateRoom">
<input wsam:Action="http://ws.session.ejb/RoomWebService/updateRoomRequest" message="tns:updateRoom"/>
<output wsam:Action="http://ws.session.ejb/RoomWebService/updateRoomResponse" message="tns:updateRoomResponse"/>
<fault message="tns:UpdateRoomException" name="UpdateRoomException" wsam:Action="http://ws.session.ejb/RoomWebService/updateRoom/Fault/UpdateRoomException"/>
</operation>
<operation name="retrieveAllRooms">
<input wsam:Action="http://ws.session.ejb/RoomWebService/retrieveAllRoomsRequest" message="tns:retrieveAllRooms"/>
<output wsam:Action="http://ws.session.ejb/RoomWebService/retrieveAllRoomsResponse" message="tns:retrieveAllRoomsResponse"/>
</operation>
</portType>
<binding name="RoomWebServicePortBinding" type="tns:RoomWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllAvailableRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allocateRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomTypeTierNumberException">
<soap:fault name="InvalidRoomTypeTierNumberException" use="literal"/>
</fault>
</operation>
<operation name="updateRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpdateRoomException">
<soap:fault name="UpdateRoomException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RoomWebService">
<port name="RoomWebServicePort" binding="tns:RoomWebServicePortBinding">
<soap:address location="http://localhost:8080/RoomWebService/RoomWebService"/>
</port>
</service>
</definitions>